.course_material_card .MuiTypography-body2 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 0px;
  color: #1B1D1E;
}

.syllabus_card .MuiTypography-body2 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 0px;
  color: #1B1D1E;
}
