.myinput{
    background-color: #F2F2F2;
    width: 340px;
    height: 50px;
}
.myButton{
    height: 50px;
    width: 340px;
}
.header{
    width: 400px;
    font-weight: 800;
}
.forgotpasswordlink{
    margin-left: 225px;
}
@media(max-width:405px){
    .header{
        width: 300px;
        
    }
    .myinput{    
        width: 215px;
    }
    .myButton{
        width: 215px;
    }
    .forgotpasswordlink{
        margin-left: 105px;
    }
}
